/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

/* General Header Style */
header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #22414600 60%, white 100%);
    transition: background 0.3s ease; 
}

/* Dark Mode Header Style */
body.dark-mode header {
    background: linear-gradient(to bottom, rgba(86, 86, 86, 0.401) 90%, #303535 100%);
}

body.dark-mode .header-text {
    color: #c3c3c3; 
}

#header-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    transition: color 0.3s ease; /* Suaviza la transición del color */
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;

}

section.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.skill.dark-mode, .project.dark-mode {
    background-color: #2b2b2b;
    border: 1px solid #ff0080;
    color: #e0e0e0;
}

.skill.dark-mode:hover, .project.dark-mode:hover {
    box-shadow: 0 0 15px 5px rgba(255, 0, 128, 0.7);
}

/* Specific Section */
.p1 {
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin: 10px auto;
    width: 830px;
    text-align: justify;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .p1 {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Carousel Styles */
.projects-carousel {
    position: relative;
    width: 20%;
    max-width: 1300px; /* Limitar el ancho del contenedor del carrusel */
    overflow: hidden; /* Ocultar el contenido que se desborde */
    margin: 0 auto;
}

.projects-carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.project {
    flex: 0 0 200px; /* El ancho de los proyectos ahora es 200px */
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0 20px;
    text-align: justify; /* Justificar el texto */
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}


.project h3 {
    font-size: 1.5rem;
    color: #707070;
}

.project a {
    color: #8e8e8e;
}

.project:hover {
    border: 1px solid #000;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
}

/* Carousel buttons (position sticky) */
.carousel-buttons {
    position: sticky;
    top: 50%;
    display: flex;
    justify-content: center;
    gap: 192px;
    z-index: 1000;
}

/* Carousel button styling */
.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Button to Toggle Dark Mode */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4b4b4b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.dark-mode-toggle:hover {
    background-color: #5c5c5c;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Form Styles */
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.contact-form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #838383;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
    background-color: #383838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link {
    color: #8e8e8e;
}

/* Section Styles */
section {
    padding: 40px;
    text-align: center;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

h2 {
    font-size: 2.5rem;
    color: #707070;
    margin-bottom: 20px;
}

.skills, .projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill, .project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px; /* Cambié el ancho de las habilidades y proyectos a 200px */
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.skill h3, .project h3 {
    font-size: 1.5rem;
    color: #707070;
}

.skill:hover, .project:hover {
    border: 1px solid #000;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
}
